:root {
    --primary: #356673;
    --secondary: #D64B56;
    --light: #F0F0F0;
    --dark: #222222;
}

body {
    background-color: var(--dark);
    color: var(--light);

    font-family: 'Raleway', sans-serif;

    height: 100vh;
    margin: 0;
}

body .body-container{
    height: 100%;
    /* background-color: var(--primary); */
} 

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100vw; */
    height: 100vh;
}

h1{
    font-size: calc(1.375rem + 1.7vw);;
}

h1,
h2,
h3 {
    font-family: 'Prompt', sans-serif;
}

hr {
    border: 2px solid var(--primary);
    width: 70%;
    opacity: 1;
}

.div_margin{
    width: 70%;
}

.p_blue_border{
    border: 2px solid var(--primary);
    padding: 3%;
}

.small_icon{
	width: 70px;
	height: 70px;
	background: var(--primary);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
    padding: 5%;
}

